body {
	font-family: Arial;
}

#title {
	font-variant: small-caps;
	font-weight: 700;
	margin: 0;
}

.fixed-nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	padding: 1em;
	z-index: 10000;
	background-color: #eee;
}

section {
	margin-top: 6em;
}

h2 {
	text-align: center;
}


.charImg {
	max-width: 15em;
	height: 10em;
}

.character {
	border: solid #eee 8px;
	padding: 1em;
	width: 80%;
	height: 20em;
	margin: auto;
}

.character:hover {
	border: solid yellow 8px;

}