<h1 class="title">Introduction</h1>
<div ng-controller="IntroCtrl as vmi">
	<div ng-include="vmi.selectedCharE"></div>
	<h1>...the story so far</h1>
	<p>The princess has been captured by the evil villian, go save her. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed faucibus est, ut dictum metus. Sed sodales dignissim ipsum, a aliquet dolor aliquam vitae. Donec venenatis mi sit amet scelerisque viverra. Nullam ac massa varius, gravida augue ut, feugiat enim. Sed sollicitudin purus id nibh euismod, molestie sagittis metus efficitur. Duis dapibus interdum erat at tempor. Suspendisse vitae nibh dictum lacus congue vehicula eget id mauris. Nulla accumsan libero ipsum, et feugiat arcu fermentum nec. Mauris sed viverra nibh. Curabitur volutpat dolor tortor, ac bibendum ipsum molestie sit amet. Nullam mattis nunc quis ipsum tempor, non viverra diam imperdiet.
	<br><br>
	Vestibulum non ultrices sapien, eget pretium sapien. Nulla viverra eros vel tristique hendrerit. Nullam ante augue, venenatis sed sapien eu, egestas consequat mi. Cras lobortis ipsum nec orci fermentum egestas. Suspendisse potenti. Cras vel est pulvinar, euismod nisl quis, rutrum felis. Maecenas non felis nisl. In nec nulla non sapien scelerisque euismod non et nisl. Quisque placerat, sapien eu molestie sagittis, ex nunc interdum nisl, ut feugiat nisi sapien vel lorem. Ut scelerisque augue mi, eu faucibus dolor molestie ut. In tempor quam at quam rhoncus, sit amet consectetur ex pulvinar.</p>
	<button ng-click="vm.nextScene(1)">I wanna be a hero!</button>
	<button ng-click="vm.nextScene('end')">Too scary, I'm Out!</button>


</div>